.footer-container {
  display: grid;
  background: linear-gradient(to top, rgba(40, 34, 71, 0.6) 100%, transparent), url("../../assets/images/images/RogNice.jpg") left 0% top 50%/cover no-repeat border-box;
  padding: 2rem;
  margin: auto;
  margin-top: 2rem;
  color: whitesmoke;
  font-weight: bold;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 300px 260px 250px 320px;
  grid-template-areas: ". part1 ." ". part2 ." ". part3 ." ". part4 ." ". rights .";
}
.footer-container ul {
  list-style: none;
  line-height: 2.8rem;
}
.footer-container li {
  opacity: 0.7;
}
.footer-container li:hover {
  opacity: 1;
  cursor: default;
}
.footer-container .footer_about-us {
  grid-area: part1;
  margin: 0 auto;
  text-align: center;
}
.footer-container .footer_about-us .footer_about-us_text {
  opacity: 0.6;
  word-break: break-all;
  max-width: 10rem;
  text-align: center;
}
@media (min-width: 1200px) {
  .footer-container .footer_about-us .footer_about-us_text {
    max-width: 14rem;
  }
}
@media (min-width: 750px) {
  .footer-container {
    grid-template-columns: 5% 40% 40% 5%;
    grid-template-rows: 330px 300px;
    grid-template-areas: ". part1 part2 ." ". part3 part4 ." ". rights rights .";
  }
}
@media (min-width: 1320px) {
  .footer-container {
    grid-template-columns: 5% 20% 20% 20% 30% 5%;
    grid-template-rows: 300px;
    grid-template-areas: ". part1 part2 part3 part4 ." ". rights rights rights . .";
  }
}

.footer_about-us {
  grid-area: part1;
  text-align: center;
  margin: 0 auto;
}
.footer_about-us .footer_about-us_text {
  text-align: center;
  margin: auto;
}
.footer_about-us .footer_main-social {
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  line-height: 2rem;
}
.footer_about-us .footer_main-social i {
  margin: 0 0.6rem 0.6rem 0;
  font-size: 1.6rem;
  border: 1px solid #62c3e7;
  padding: 0.4rem;
  width: 3rem;
  border-radius: 50%;
  text-align: center;
  color: #62c3e7;
}
.footer_about-us .footer_main-social SVG {
  border: 1px solid #62c3e7;
  padding: 0.4rem;
  width: 2.9rem;
  height: 2.9rem;
  border-radius: 50%;
  text-align: center;
  color: #62c3e7;
}

.footer_getintouch {
  grid-area: part2;
  text-align: center;
}

.footer_products {
  grid-area: part3;
  text-align: center;
}
.footer_products ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.footer_products ul li {
  margin: 0 0.2rem 0 0.2rem;
  text-align: center;
}

.footer_latest-products {
  grid-area: part4;
  text-align: center;
}
.footer_latest-products .footer_latest-products_title {
  text-align: center;
  padding-bottom: 1rem;
}
.footer_latest-products .footer_latest-products_list {
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 205px;
}
.footer_latest-products .footer_latest-products_list li {
  width: 100px;
}
.footer_latest-products .footer_latest-products_list img {
  width: 6rem;
  height: 6rem;
}

.footer_rights {
  display: flex;
  justify-content: center;
  grid-area: rights;
  text-align: center;
}
.footer_rights div {
  margin-right: 1rem;
}